<div class="sub-container">
<img class="side-photo" id="back-arrow" src="/imgs/back.png">
<div class="response-show">
  <img id="poster" src="<%=movie_data["poster"]%>">
  <p class="response-info" id="movie-title"><%=movie_data["title"]%></p>
  <p class="response-info"><%=movie_data["rating"]%></p>
  <p class="response-info"><%=movie_data["year"]%></p>
  <p class="response-info"><%=movie_data["director"]%></p>
  <p class="response-info"><%=movie_data["category"]%></p>
  <p class="response-info" id="movie-cast"><%=movie_data["cast"]%></p>
  <p class="response-info"><%=movie_data["summary"]%></p>
</div>
<img class="side-photo" id="og-mood" src="<%=src%>">
<img class="side-photo" id="die-pic" src="/imgs/die1.png">
</div>
